body {
    height: 100vh;
    width: 100vw;
    background-color: #002e52;
}

.selectGame {
    width: 100%;
    min-width: 1300px;
    height: 100vh;

    h1 {
        color: white;
        margin: 50px auto;
    }

    .buttonValider {
        border-radius: 50px;
        border: none;
        padding: 10px 20px;
        width: 200px;
        background-color: #0C5788;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        transition: 0.5s all ease-in-out;

        &:hover {
            background-color: #fff;
            color: #0C5788;
        }
    }
}

.parcours {
    &Container {
        width: 100%;
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
        min-width: 1300px;
        padding: 25px 0;
    }
    &Flex {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 60px;
    }

    &__Card {
        padding: 15px;
        position: relative;
        background-color: #fff;
        width: 350px;
        border-radius: 25px;

        h3 {
            color: #fff;
            background-color: #0C5788;
            font-size: 20px;
            padding: 10px;
            border-radius: 50px;
        }

        p {
            color: #595959;
            font-weight: 500;
            text-align: left;
            padding: 10px;
        }
        .selectGM {
            background-color: #458bc9;
            width: fit-content;
            padding: 10px 20px;
            margin: 0 auto;
            border-radius: 50px;
            color: #fff;
            transition: all 0.5s;
            &:hover {
                background-color: #0C5788;
                cursor: pointer;
            }
        }
        &:before {
            content: " ";
            background-image: url('../../public/Assets/images/illu2.png');
            width: 250px;
            height: 146px;
            left: 50%;
            top: -146px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateX(-50%);
        }

        &:first-of-type {
            &:before {
                background-image: url('../../public/Assets/images/illu3.png');
            }
        }

        &:last-of-type {
            &:before {
                background-image: url('../../public/Assets/images/illu1.png');
            }
        }
    }
    &__Selected {
        background-color: #458bc9;
        p {
            color: #fff;
            font-weight: 500;
            text-align: left;
            padding: 10px;
        }        
        .selectGM {
            display: none;
        }
    }
}